<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WindowsFormsApplication1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
    <userSettings>
        <WindowsFormsApplication1.Properties.Settings>
            <setting name="battlemap" serializeAs="String">
                <value>4_4E</value>
            </setting>
            <setting name="mainteam" serializeAs="String">
                <value>第一梯队</value>
            </setting>
            <setting name="supportteam" serializeAs="String">
                <value>第三梯队</value>
            </setting>
            <setting name="Fix" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Fixmaxtime" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Fixmintime" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="resolution" serializeAs="String">
                <value>1280*720</value>
            </setting>
            <setting name="DebugMode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WaitTime" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="FirstTimeU" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HomePage0" serializeAs="String">
                <value />
            </setting>
            <setting name="HomePage1" serializeAs="String">
                <value>3ac2f7</value>
            </setting>
            <setting name="HomePage2" serializeAs="String">
                <value>ffffff</value>
            </setting>
            <setting name="Setting" serializeAs="String">
                <value>292829</value>
            </setting>
            <setting name="UrgentTask" serializeAs="String">
                <value>de3500</value>
            </setting>
            <setting name="selfdiscipline" serializeAs="String">
                <value>8cca10</value>
            </setting>
            <setting name="normal" serializeAs="String">
                <value>ffba00</value>
            </setting>
            <setting name="AirPort" serializeAs="String">
                <value>94c6f7</value>
            </setting>
            <setting name="Battle0" serializeAs="String">
                <value>ff5500</value>
            </setting>
            <setting name="TeamSelect" serializeAs="String">
                <value>ffba00</value>
            </setting>
            <setting name="TeamListSelect0" serializeAs="String">
                <value>313531</value>
            </setting>
            <setting name="LogisticsTeamColor" serializeAs="String">
                <value>ffaa00</value>
            </setting>
            <setting name="BattleSelectColor" serializeAs="String">
                <value>f7ae00</value>
            </setting>
            <setting name="TeamListSelect1" serializeAs="String">
                <value>ffba00</value>
            </setting>
            <setting name="TeamListSelect2" serializeAs="String">
                <value>ffba00</value>
            </setting>
            <setting name="RandomNotes" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoTeam1" serializeAs="String">
                <value>第一梯队</value>
            </setting>
            <setting name="AutoTeam2" serializeAs="String">
                <value>第二梯队</value>
            </setting>
            <setting name="AutoTeam3" serializeAs="String">
                <value>第三梯队</value>
            </setting>
            <setting name="AutoTeam4" serializeAs="String">
                <value>第四梯队</value>
            </setting>
            <setting name="AutoMap" serializeAs="String">
                <value>1_4E</value>
            </setting>
            <setting name="Simulator" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OsType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="supplies" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RoundInterval" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="BattleLoopUnLockWindows" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BindWindowsType" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="LogisticsTask1" serializeAs="String">
                <value>代号01</value>
            </setting>
            <setting name="LogisticsTask2" serializeAs="String">
                <value>代号14</value>
            </setting>
            <setting name="LogisticsTask3" serializeAs="String">
                <value>代号17</value>
            </setting>
            <setting name="LogisticsTask4" serializeAs="String">
                <value>代号22</value>
            </setting>
            <setting name="TeamListSelect3" serializeAs="String">
                <value />
            </setting>
            <setting name="ChangeGun" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SetMap" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LockWindows" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FixMinPercentage" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="FixMaxPercentage" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="FixType" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="FindTeamSlectStrSim" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="FindTeamSlectStrColorOffset" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="SetMapType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SimulatorHomeCapX1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SimulatorHomeCapX2" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="SimulatorHomeCapY1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SimulatorHomeCapY2" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="SimulatorHomeCheckX1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SimulatorHomeCheckX2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SimulatorHomeCheckY1" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="SimulatorHomeCheckY2" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="SimulatorHomeCheckTime" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="GameIconX" serializeAs="String">
                <value>343</value>
            </setting>
            <setting name="GameIconY" serializeAs="String">
                <value>203</value>
            </setting>
            <setting name="Team_SerrorTime" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="LogisticFinishWaittingTime" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="LogisticLoopTimeMAX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EquipmentUpdateType" serializeAs="String">
                <value>外骨骼</value>
            </setting>
            <setting name="EquipmentUpdatePostion" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="GetFriendBatteryAuto" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GetFriendBatterySecondLoop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GetFriendBatteryCapt" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GetFriendBattleryDelayM" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GetFriendBattleryDelayH" serializeAs="String">
                <value>0</value>
            </setting>
        </WindowsFormsApplication1.Properties.Settings>
    </userSettings>
</configuration>
